.btn{
    color: red;
    width: 40px;
    height: 40px;
  }
.btn img{
    color: red;
    width: 20px;
    height: 20px;
    background-color: transparent;
  }

p img{
  color: red;
  width: 20px;
  height: 20px;
}
